{% comment %}
여러 페이지의 틀(layout)이 되는 templates
    1. 공통적으로 들어가는 코드(html, css, js, template)를 작성.
    2. page마다 변경될 부분들은 block 지정. 
                    {%block  이름%}{%endblock 이름%}
    3. 개별 page들은 이 template을 확장해서 구현.
        block부분에 내용을 채워서 구현.
{% endcomment %}
{# layer.html #}
<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}Document{%endblock title%}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>   
{% comment %}
- 팀목록 {%url 'team_calendar:list'%}
- 팀만들기{% url 'team_calendar:team_create'%}
- 로그인 {% url 'account:login'%}
- 로그아웃 {% url 'account:logout'%}
- 회원님 {% url 'account:detail' %} {{user.name}}
- 회원 가입 {% url 'account:join'%}
{% endcomment%}
    <nav class="navbar navbar-expand-sm bg-light">
        <div class="container">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="{%url 'team_calendar:team_list'%}" class="nav-link">팀목록</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'team_calendar:create_team'%}" class="nav-link">팀등록</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'account:logout'%}" class="nav-link">로그아웃</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'account:detail' %}" class="nav-link"><b>{{user.name}} 님</b></a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{% url 'account:join'%}" class="nav-link">가입</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'account:login'%}" class="nav-link">로그인</a>
                    </li>
                {% endif %}
                
            </ul>
        </div>
    </nav>
    <div class="container mt-4">
        {% block contents%}{% endblock contents%}
    </div>
</body>
</html>

