<!-- templates/calendar.html -->
{% extends "layout.html"%}
<!-- layout.html을 확장해서 template을 구현. -->
<!-- block 을 재정의 -->
{% block title %}Calendar{% endblock title%}
{% block contents%}
<body>
    <h1>{{ year }}년 {{ month_name }} 달력</h1>
    <form method="posdt" action="{% url 'team_calendar:calendar_view'%}">
        <select name="year">
            {% for y in years %}
                <option value="{{ y }}" {% if y == year %}selected{% endif %}>{{ y }}</option>
            {% endfor %}
        </select>
        <select name="month">
            {% for m in months %}
                <option value="{{ m }}" {% if m == month %}selected{% endif %}>{{ m }}</option>
            {% endfor %}
        </select>
        <button type="submit">Go</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>일</th>
                <th>월</th>
                <th>화</th>
                <th>수</th>
                <th>목</th>
                <th>금</th>
                <th>토</th>
            </tr>
        </thead>
        <tbody>
            {% for week in month_days %}
                <tr>
                    {% for day in week %}
                        <td>
                            {% if day != 0 %}
                                {{ day }}

                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
{% endblock contents%}

