{% extends "layout.html" %}
{% block title%}팀 목록{%endblock title%}
{%block contents%}

<h1>팀 목록</h1>
<div class="list-group mt-4">
    {% for team in team_list %}
    <!-- url '팀캘린더:캘린더' -->
    {% if team != user_team%}
    <a href="" class="list-group-item list-group-item-action">
        {{team.team_name|truncatewords:5}}
        <!--클릭시 권한이 없습니다.-->
    </a>
    {% else%}
    <a href="" class="list-group-item list-group-item-action">
        {{team.team_name|truncatewords:5}}
    </a>
    {% empty %}
        <!-- iterable에 원소 없을 경우 실행할 내용. -->
        <b>등록된 팀이 없습니다.</b>
    {% endfor%}
</div>
{% endblock contents%}