<!-- account/templates/account/detail.html -->
{% extends 'layout.html'%}
{% block title%}My Info{% endblock title%}

{% block contents%}
<table class="table">
    <tr>
        <th>계정명</th>
        <td>{{object.username}}</td>
    </tr>
    <tr>
        <th>이름</th>
        <td>{{object.name}}</td>
    </tr>
    {% if object.team %}
    <tr>
        <th>소속팀</th>
        <td>{{object.team}}</td>
        
    </tr> 
    {% else%}
    <th>소속팀</th>
    <td>소속 팀이 없습니다.</td>
    {% endif%}
</table>

{%if object.is_team_manager%}
    <table class="table">
    <tr>
    {% for member in team.all%}
        <th>{{member.name}} <button>탈퇴</button></th>
    {% endfor%}
    </tr>

    <tr><th>가입 요청 항목</th></tr>
        {% for req in req_user%}
        <td>
            {{req.name}} 님이 요청하셨습니다. 수락하시겠습니까?
            <form method=post action = "{% url 'account:approve_request' req.id%}">
                {% csrf_token %}
            <button type="submit" class ="btn btn-dark btn-sm">수락</button>
            </form>
            <form method=post action = "{% url 'account:reject_request' req.id%}">
                {% csrf_token %}
            <button type="submit" class ="btn btn-danger btn-sm">거절</button>
            </form>
        </td>
    <!-- 팀원 꽉찼는지 확인-->
    <!-- 수락버튼 누르면 팀원 빈자리에 집어넣기-->
    <!--해당유저의 request_to None으로-->
        {% empty %}
        <td> 팀 가입 요청이 없습니다</td>
        {% endfor%}
    </table>
{% else%}
    <th>팀장이 아닙니다.</th>
{% endif %}



<div class="mt-3">
    <a href="{% url 'account:password_change' %}" class="btn btn-primary">패스워드변경</a>
    <a href="{% url 'account:update' %}" class="btn btn-primary">정보 수정</a>
    
{% if object.team %}
    <a href="{% url 'account:team_delete' user.pk %}" class="btn btn-danger" onclick="return confirm('정말 탈퇴하시나요?')">탈퇴</a>
{% endif %}
</div>
{% endblock contents%}